body {
    font-family: Arial;
    padding: 20px;
    background: #f7f7f7;
}

#results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.video {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    cursor: pointer;
}

.video img {
    width: 100%;
    border-radius: 6px;
}

iframe {
    margin-top: 25px;
    width: 100%;
    max-width: 800px;
    height: 450px;
    border: none;
    border-radius: 10px;
}
